<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="css/Perfil.css">
        <script src="js/script.js" defer ></script>
        <script src="js/file.js" defer ></script>
        <title> Perfil </title>

    </head>

    <body>

        <header>

            <div id="submenu">
                
                <img src="img/paula/menu.svg" id="menuA" onclick="menu()">
                <img src="img/paula/letra-x.svg" id="menuF" onclick="menu()">

                <a onclick.window.location="/index">
                                
                    <img src="img/paula/variações logo/overlock BD81F3.svg" id="logo">

                </a>

            </div>

        </header>

        <main>
            
            <%- include('menu') %>

            <% const us = JSON.parse(usuario)[0] %>

            

            <label class="picture" for="imagemInput" tabindex="0">

                <img id="imagemExibida" src="img/tela de fundo coringa.png" alt="Imagem Exibida">

            </label>
            
            <input type="file" id="imagemInput">

            <label class="picture2" for="imagemInput2" tabindex="0">

                <img id="imagemExibida2" src="img/perfil/<%= us.foto_perfil_pasta %>" alt="Imagem Exibida">

            </label>
            <form action="/EditarFoto" method="post">

                <input type="hidden" id="usuarioFoto" name="usuarioFoto" />
                <input type="hidden" id="id_usuario" value="0" name="id_usuario" />
                <input type="submit" value="Salvar">
            </form>



           <div id="editarFoto">
            <h4> Editar Foto </h4>
           </div>
            
            <input type="file" id="imagemInput2">
            <div id="detalhe">
                <ul id="detalhePerfil">
                    <li>&#9786;&nbsp;User name: <%= us.user_name %></li>
                    <li>&#10003;&nbsp;Nome: <%= us.nome %></li>
                    <li>&#9990;&nbsp;Telefone: <%= us.telefone %></li>
                    <li>&#10163;&nbsp;Cidade: <%= us.cidade %></li>
                    <li>&#9993;&nbsp;e-mail: <%= us.email %></li>
                    <li>&#9745;&nbsp;CPF: <%= us.cpf %></li>
                    <li>&#10163;&nbsp;Tipo de Usuario: <%= us.id_tipo_usuario %></li>
                    <% if(us.id_tipo_usuario == 2){
                         if(us.id_planos == 1){%>
                            <li>&#10163;&nbsp;Plano: Plus Mensal - R$ 35,00</li>
                         <%}
                         if(us.id_planos == 2){%>
                            <li>&#10163;&nbsp;Plano: Plus anual - R$ 30,00</li>
                        <%}
                         if(us.id_planos == 3){%>
                            <li>&#10163;&nbsp;Plano: Premio Mensal - R$ 60,00</li>
                         <%}
                         if(us.id_planos == 4){%>
                            <li>&#10163;&nbsp;Plano: Premio Anual - R$ 60,00</li>
                         <%}
                    }%>               
                </ul>

            </div>

            <a href="/EditarUsuario?id=<%= id_user %>">Editar</a>
        
        </main>
        
        <footer>

            <h3> Navegação </h3>

            <ul>

                <li>
                    <a href="/index">Início</a>
                </li>
                <li>
                    <a href="/13_Meus_pedidos">Meus Pedidos</a>
                </li>
                <li>
                    <a href="/18_Notificacao_geral">Notificações</a>
                </li>
                <li>
                    <a href="/19_Chat">Chat</a>
                </li>
                <li>
                    <a href="/10_Perfil">Meu Perfil</a>
                </li>
                <li>
                    <a href="/">Configurações</a>
                </li>
                <li>
                    <a href="/22_Politica_de_privacidade_cliente">Política de Privacidade</a>
                </li>
                <li>
                    <a href="/20_Denuncia_cliente">Denúncia</a>
                </li>
                <li>
                    <a href="/21_Sair_cliente">Sair</a>
                </li>
                
            </ul>

            <address>

                <h3> Contato </h3>

                <div class="con">

                    <img src="img/paula/telefone.svg">

                    <a href="tel:+5511999999999">(11) 99999-9999</a>

                </div>

                <div class="con">

                    <img src="img/paula/email.svg">

                    <a href="mailto:overlock.site@gmail.com">overlock.site@gmail.com</a>

                </div>

                <h3> REDES SOCIAIS </h3>

                <div class="rede">

                    <img src="img/paula/instagram.svg" alt="">
                    <img src="img/paula/pinterest.svg" alt="">
                    <img src="img/paula/twitter.svg" alt="">

                </div>

                <div class="empre">

                    <h3> OUTROS SERVIÇOS </h3> <br>

                    <a href="" class="transpor" > Cadastrar como transportadora </a>

                </div>

            </address>

            <a href="#logo">

                <img  id="inicio" src="img/paula/variações logo/overlock - tipografia.svg">

            </a>
            
        </footer>
    </body>
</html>