<!DOCTYPE html>
<html lang="pt-br">       
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="css/Pedidos.css">
        <link rel="stylesheet" href="css/geral.css">
        <script src="js/script.js" defer ></script>
        <script src="js/orcamento.js" defer></script>
        <title> Propostas </title>

    </head>

    <body>

        <header>

            <div id="submenu">
                
                <img src="img/paula/menu.svg" id="menuA" onclick="menu()">
                <img src="img/paula/letra-x.svg" id="menuF" onclick="menu()">
        
                <a onclick.window.location="/index">
                                
                    <img src="img/paula/variações logo/overlock BD81F3.svg" id="logo">
        
                </a>
                <span id="log" class="logFoto">
                    <img src="<%= foto_painel %>" alt='imagem de perfil' class= 'logFoto    width='60' height='60'/>  
                </span>
            </div>
        
        </header>
        
        <main>
              <%- include('menu') %>
 
            
             <div id="reader">

                <img src="img/icone de voltar.svg" alt="voltar" id="voltar">

                <h1> Propostas </h1>
                
            </div>
         
            <div id="msn" class="Notify msn" style="display: none;">
                ORÇAMENTO ENVIADO COM SUCESSO !
             </div>
            
            <% if(proposta.length < 1){
 
                %> <section class="container">
                    <img src="img/paula/variações logo/manequim 511555.svg" alt="adicionar img">
                  <div>
                      <p id="resposta"> Aguardando proposta </p>
                     
                  </div>
              </section>
              <%

            }else{
                for(var i = 0; i < proposta.length; i++){%>
                   <section class="container">
                      <img src="img/fotos_propostas/<%= proposta[i].foto_proposta %>" alt="adicionar img">
                    <div class="proposta">
                        <p id="resposta"> Aguardando proposta </p>
                        
                        <div  style="width: 100%;">
                            <a href="/46_Propostas_em_andamento?id=<%= proposta[i].id_proposta %>" style="width: 40%; float:left"> ver mais </a>
                            <%if(proposta[i].orc > 0){%>
                                <div id="orcamento">
                                    <span> Última Proposta realizada, R$ <%=proposta[i].orc%></span>
                                </div>
                                
                            <%}%>
                        </div>
                    </div>
                    
                </section>

           <% } 
              }%>
 
            
              
           

              


        
        </main>
        
        <footer>
        
            <h3> Navegação </h3>
        
            <ul>
        
                <li>
                    <a href="/index">Início</a>
                </li>
                <li>
                    <a href="/13_Meus_pedidos">Meus Pedidos</a>
                </li>
                <li>
                    <a href="/18_Notificacao_geral">Notificações</a>
                </li>
                <li>
                    <a href="/19_Chat">Chat</a>
                </li>
                <li>
                    <a href="/10_Perfil">Meu Perfil</a>
                </li>
                <li>
                    <a href="/">Configurações</a>
                </li>
                <li>
                    <a href="/22_Politica_de_privacidade_cliente">Política de Privacidade</a>
                </li>
                <li>
                    <a href="/20_Denuncia_cliente">Denúncia</a>
                </li>
                <li>
                    <a href="/21_Sair_cliente">Sair</a>
                </li>
                
            </ul>
        
            <address>
        
                <h3> Contato </h3>
        
                <div class="con">
        
                    <img src="img/paula/telefone.svg">
        
                    <a href="tel:+5511999999999">(11) 99999-9999</a>
        
                </div>
        
                <div class="con">
        
                    <img src="img/paula/email.svg">
        
                    <a href="mailto:overlock.site@gmail.com">overlock.site@gmail.com</a>
        
                </div>
        
                <h3> REDES SOCIAIS </h3>
        
                <div class="rede">
        
                    <img src="img/paula/instagram.svg" alt="">
                    <img src="img/paula/pinterest.svg" alt="">
                    <img src="img/paula/twitter.svg" alt="">
        
                </div>
        
                <div class="empre">
        
                    <h3> OUTROS SERVIÇOS </h3> <br>
        
                    <a href="" class="transpor" > Cadastrar como transportadora </a>
        
                </div>
        
            </address>
        
            <a href="#logo">
        
                <img  id="inicio" src="img/paula/variações logo/overlock - tipografia.svg">
        
            </a>
            
        </footer>
        
    </body>
</html>