<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="css/Editar_perfil_home.css">
        <link rel="stylesheet" href="css/Administracao.css">
        <script src="js/script.js" defer ></script>
        <script src="js/Administrar.js" defer ></script>
        <title> Editar Perfil </title>

    </head>

    <body>

        <!--Inicio-->

        <header>

            <div id="submenu">
                
                <img src="img/paula/menu.svg" id="menuA" onclick="menu()">
                <img src="img/paula/letra-x.svg" id="menuF" onclick="menu()">

                <a onclick.window.location="/index">
                                
                    <img src="img/paula/variações logo/overlock BD81F3.svg" id="logo">

                </a>

            </div>

        </header>

        <main>
            
            <nav id="menu">

                <ul>

                    <a onclick="window.location='/54_Pagina_inicial_feed'">
                        <li class="pri lli" > <p> Início </p> </li>
                    </a>

                    <a onclick="window.location='/46_Propostas_em_andamento'">
                        <li class="lli" > <p> Minhas Propostas </p> </li>
                    </a>

                    <a onclick="window.location='/31_Pacotes_geral'">
                        <li class="lli" > <p> Pacotes </p> </li>
                    </a>

                    <a onclick="window.location='/53_Notificacao_geral'">
                        <li class="lli" > <p> Notificações </p> </li>
                    </a>

                    <a onclick="window.location='/51_Chat'">
                        <li class="lli" > <p> Chat </p> </li>
                    </a>

                    <a onclick="window.location='/42_Perfil'">
                        <li class="lli" > <p> Meu perfil </p> </li>
                    </a>

                    <a onclick="window.location='/'">
                        <li class="lli" > <p> Configurações </p> </li>
                    </a>

                    <a onclick="window.location='/48_Politica_de_privacidade'">
                        <li class="lli" > <p> Política de Privacidade </p> </li>
                    </a>

                    <a onclick="window.location='/52_Denuncia_profissional'">
                        <li class="lli" > <p> Denúncia </p> </li>
                    </a>
                    <a onclick="window.location='/Administracao'">
                        <li class="ulti" > <p> ADMINISTRACAO </p> </li>
                    </a>
                    <a onclick="window.location='/49_Sair_profissional'">
                        <li class="ulti" > <p> Sair </p> </li>
                    </a>

                 
                </ul>

            </nav>

        <!--Fim-->


<% const us = JSON.parse(usAdmin) %>


<div id="tabela">
    <% for(var i=0; i<us.length; i++){ %>
        <input type="hidden" value="<%= us[i].id_usuario %>">
        <ul class="quadro">
            <div class="foto">
                <li><img src="img/<%= us[i].foto_perfil_pasta %>" class="img_foto" alt="" width="80px" height="80px"></li>
                <li>@<%= us[i].user_name %></li>
            </div>
            <div class="q_btn">
                <td><input type="button" class="btn btn_perfil" id="<%= us[i].id_usuario %>" onclick='editarUsuario(this)' value="Perfil Cliente"></td>
                <td><input type="button" class="btn btn_mais" value="ver mais" onclick='ExcluirUsuario("<%= us[i].cpf %>")'></td>
            </div>
        </ul>
   
    <% } %>



<!--
    <table class="table-editar">
        <thead>
            <th>Login</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Acesso</th>
            <th>Editar</th>
            <th>Excluir</th>
        </thead>
        <tbody id="corpoTabela">
            <% for(var i=0; i<us.length; i++){ %>

  
                <tr id="str">
                    <td><%= us[i].user_name %></td>
                    <td><%= us[i].nome %></td>
                    <td><%= us[i].cpf %></td>
                    <td><%= us[i].nome_tipo %></td>
                    <td><input type="button" class="btn btn-editar" id="<%= us[i].id_usuario %>" onclick='editarUsuario(this)' value="editar"></td>
                    <td><input type="button" class="btn btn-excluir" value="excluir" onclick='ExcluirUsuario("<%= us[i].cpf %>")'></td>
    
                </tr>
         
         <% } %> -->
         
         



          
        
        </tbody>
     </table>
</main>

</div>
        

        <!--Inicio-->

   
        <!--Fim-->

    </body>
</html>